.popupModule-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  .popupModule-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .popupModule-box {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(1px);
    .popupModule {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      max-height: 94vh;
      min-height: 200px;
      background: #ffffff;
      border-radius: 15px 15px 0px 0px;
      overflow: hidden;
      .popupModule-content {
        padding-bottom: env(safe-area-inset-bottom);
        position: relative;
        background-color: #fff;
        border: 0;
        background-clip: padding-box;
        height: 100%;
        overflow: hidden;
        .popupModule-body {
          font-size: 15px;
          color: #888;
          height: 100%;
          overflow: auto;
          .popupModule-header {
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-size: 14px;
            font-weight: 600;
            color: #333333;
            .ico {
              position: absolute;
              left: 14px;
              width: 20px;
              height: 20px;
            }
          }
          .popupModule-main {
            max-height: calc(94vh - 50px);
            overflow-y: auto;
          }
        }
      }
    }
  }
}
