.createModal {
  border-radius: 6px;
  overflow: hidden;
  .ant-modal-content {
    width: 868px;
  }
  .ant-modal-header,
  .ant-modal-footer {
    border: none;
    padding: 20px;
  }
  .ant-modal-footer {
    display: flex;
    justify-content: center;
    padding: 40px;
    > button {
      width: 150px;
      display: flex;
      justify-content: center;
    }
  }
  .ant-modal-body {
    padding: 0 20px 10px 20px;
    display: flex;
    height: 244px;
  }
  .createModal-left {
    width: 438px;
    height: 100%;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .createModal-right {
    height: 100%;
    flex: 1;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div {
      display: flex;
      flex-direction: column;
      > label {
        margin-bottom: 10px;
      }
      .ant-radio-group {
        display: flex;
        justify-content: space-between;
        > * {
          width: 114px;
          text-align: center;
        }
      }
    }
  }
}
